<div class="container-fluid" ng-controller="MainCtrl">
  <div class="col-sm-6">
    <div class="row" style="height:60px; padding:10px;">
      <div class="">
        Voir dans l'agenda les événements dans un rayon de :
      </div>
      <div class="col-sm-5">
        <form>
          <label class="radio-inline"><input type="radio" name="optradio">5km</label>
          <label class="radio-inline"><input type="radio" name="optradio">10km</label>
          <label class="radio-inline"><input type="radio" name="optradio">15km</label>
          <label class="radio-inline"><input type="radio" name="optradio">20km</label>
        </form>
      </div>
      <button ng-click="resetAgenda(true)">autour de moi</button> ou par
      <input type="text" name="codePostal" placeholder="code postal" ng-model="codePostal" />
      <button ng-click="resetAgenda(false)">ok</button>
    </div>
    <div class="panel" style="padding:5px;margin-top:10px;">
      <div ui-calendar="uiConfig.calendar" ng-model="evenements"></div>
    </div>
  </div>
  <div class="col-sm-6">
    <div style="height:700px;margin:10px;">
      <iframe id="mapframe" style="width:100%;height:100%;" src="https://carte.lafranceinsoumise.fr/?zipcode=69003&event_type=evenements_locaux,reunions_circonscription">
      </iframe>
    </div>
  </div>
</div>
